body {
    color: #22222;
    font-family: arial;

    /* centering the elem */
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.main-content {
    flex-grow: 5;
}

footer {
    color: #888886;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 56px;
    margin-bottom: 16px;
}

header a {
    color: #888886;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 10px;
}

button {
    cursor: pointer;
    border: 1px solid #888886;
    background: #888888;
    color: white;
    padding: 8px;
}
